/*
// section two
*/

.section-second {
    align-items: center;
    
    min-height: $height-screen;
    justify-content: center;    

    background: linear-gradient(
    to bottom, $color-bg-left 15%, #eee 15%, 
        #eee 85%, $color-bg-right 85%);
}

.about-me {
    text-align: center;
}

.post-about-me {
    text-align: center;

    margin-top: 1.5rem;
    margin-bottom: 1rem;

    color: $color-bg-right;
}

.introduce {
    max-inline-size: 70ch;
}
